img {
  width: 90%;
}
.outer-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

a {
  text-decoration: none;
  color: black;
}
.playbutton {
  top: 34%;
  bottom: 34%;
  left: 34%;
  right: 34%;
}
