img {
  width: 90%;
  aspect-ratio: 1/1;
}
.outer-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.inner-div {
  margin-top: 5px;
}
