/* TODO Add site wide styles */
body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  background-color: #f2f2f2;
}

.black {
  color: black;
}

.subtitle {
  color: rgb(165, 165, 165);
  font-size: 14px;
}

.button {
  cursor: pointer;
}
