#song-page-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F2F2F2
}

#song-page-contents {
    width: 1200px;
    height: 100vh;
    padding-top: 0px;
    background-color: white;
    
}

#song-header {
    background-color: #a2b8af;
    width: 100%;
    /* height: 380px; */
    padding: 0px;
    display: grid;
    grid-template-rows: 380px;
    grid-template-columns: 70px 400px 370px 400px;
    grid-template-areas:
    "play title genre image"

}

#song-image-div {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-left: 25px;
    margin-right: 30px;
}

#song-image {
    /* margin-right: 50px; */
}

#song-headers {
    padding: 0px;
}

#song-title {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: white;
    background-color: #333333;
    padding: 5px;
    height: 60px;
    width: max-content;
}

#song-username {
    margin-left: 30px;
    color: white;
    background-color: #333333;
    padding: 5px;
    width: max-content;
}


#song-song-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

#song-genre-div {
    grid-area: genre;
    display: flex;
    justify-self: right;
   
    border-radius: 1em;
}

#song-genre {
    background-color: #999999;
    color: white;
    padding: 2px 20px;
    border-radius: 13px 13px 13px 13px;
    width: max-content;
    height: max-content;
    margin-top: 70px
}

#play-icon-div {
    grid-area: play;
}

#play-icon {
    background-color: #a2b8af;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
}

.no-outline:focus {
    outline: none;
  }