#song-page-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #f2f2f2;
}

#song-page-contents {
  width: 1200px;
  min-height: 100vh;
  padding-top: 0px;
  background-color: white;
  /* overflow: scroll; */
}

#song-header {
  background-color: #a2b8af;
  width: 100%;
  /* height: 380px; */
  padding: 0px;
  display: grid;
  grid-template-rows: 320px 100px;
  grid-template-columns: 120px 350px 350px 350px;
  grid-template-areas: "play title genre image";
}

#song-image-div {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  margin-left: 25px;
  margin-right: 30px;
}

#song-image {
  height: 300px;
  width: 300px;
}

#song-headers {
  padding: 0px;
}

#song-title {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: white;
  background-color: #333333;
  padding: 5px;
  height: 60px;
  width: max-content;
}

#song-username {
  margin-left: 30px;
  color: white;
  background-color: #333333;
  padding: 5px;
  width: max-content;
}

#song-song-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

#song-genre-div {
  grid-area: genre;
  display: flex;
  justify-self: right;

  border-radius: 1em;
}

#song-genre {
  background-color: #999999;
  color: white;
  padding: 2px 20px;
  border-radius: 13px 13px 13px 13px;
  width: max-content;
  height: max-content;
  margin-top: 70px;
}

#play-icon-div {
  grid-area: play;
}

#play-icon {
  background-color: #a2b8af;
  width: 60px;
  height: 60px;
  margin-left: 30px;
  margin-top: 30px;
}

#comments-div {
  display: flex;
  /* margin-top: 100px; */
  align-items: left;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 10px;
}

.comment-div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 180px;
}

#comment-form-div {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#heart-button {
  height: 30px;
  width: 60px;
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comment-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#comment-text {
  height: 18px;
  width: 765px;
  margin-right: 10px;
  border-radius: 3px 3px 3px 3px;
  resize: none;
}

#user-comment-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

#song-profile-image-div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#song-profile-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-left: 25px;
}

#song-profile-image-h3 {
  font-size: 16px;
  text-decoration: underline;
  color: #333333;
}

#comment-submit-button {
  border-radius: 3px 3px 3px 3px;
}

#button-wrapper {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.delete-comment-button {
  position: absolute;
  right: 500px;
  border-radius: 4px, 4px, 4px, 4px;
}

/* #delete-comment-button-div {
    position: relative;
} */

.no-outline:focus {
  outline: none;
}
