.playbar {
  display: flex;
  /* margin-left: 17%;
  margin-right: 17%; */
  align-content: center;
}

.playbar-div {
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #cecece;
  background-color: #f2f2f2;
  height: 50px;
  width: 100%;
  justify-content: center;
}

#waveform {
  margin-bottom: 3px;
  width: 500px;
}

.player-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playBtn {
  display: flex;
  flex-flow: row;
}

.playBtn * {
  width: 20px;
  margin-right: 20px;
}

.volume {
  display: flex;
  flex-flow: row;
  margin-left: 10px;
}

.volume * {
  margin-left: 10px;
}

.sound {
  width: 28px;
  height: 20px;
}

.current-time,
.duration {
  width: 50px;
  height: 46px;
  display: flex;
  align-items: center;
}

.current-time {
  color: #f70;
}
.duration {
  flex-flow: row-reverse;
}

.playbar-artist-details {
  display: grid;
  width: 300px;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 'album-art artist'
                       'album-art title';
  margin-top: 5px;
}

.playbar-album-art {
  grid-area: album-art;
  height: 50px;
  width: 50px;
  justify-self: center;
}

.playbar-title {
  grid-area: title;
  justify-self: left;
}

.playbar-artist {
  grid-area: artist;
  justify-self: left;
}


